{{ define "main"}}

<!--! Our post section -->


<section class="post-page-hero">
  <div class="container single-page-container">
    <h2>About Us &#8505;</h2>
    <h3>Knowing about something isn't a big deal or is it?</h3>
  </div>
</section>


<section class="content-section">
  <div class="container single-page-container">
 
    <h2 class="story-block ">What We Have To Say</h2>
  
    <p>
      TA is here to demystify abstractive concepts ranging
from (engineering - tech - writing).
    </p>
 <div id="write"></div>
 <br>
    <h2  class="story-block">Write For Us &#128221;</h2>
    <p>
      We aimed at sharing conents for students in order to enhance their
      academic performance and it isn't an easy journey.
    </p>
    <p>
      So we call for your contribution by sending us a mail at:
      <a class="at-connect">connect@tooabstractive.com</a>
    </p>

    <!-- <div class="more-info">
        <h2 class="something-to-say">Anything to say</h2>
        <p>
          Feel free to get in touch with us on any stuff that might look
          abstractive to you, cheers. We're waiting to hear from you.
        </p>

      </div> -->

    <!-- ! Form for Get quote -->
    <!-- <div class="my-form">
        <form
          action="https://formsubmit.co/10ae5eac92717d7297345978e4e3230b"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            type="email"
            name="email"
            placeholder="Your email"
            required
          />
          <textarea
            name="message"
            cols="20"
            rows="10"
            placeholder="Tell us something."
          ></textarea>

          <input
            type="hidden"
            name="_next"
            value="https://talaunch.netlify.com/thank-you.html"
          />
          <button class="btn" type="submit">Send</button>
        </form>
      </div> -->
  </div>
</section>
{{ end }}
