<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" .}}
  </head>
  <body>
    <!-- Header Section -->

    {{ partial "header" .}} {{block "main" .}} {{end}}

    <!-- Footer Section -->

    {{ partial "footer" .}}
    <script defer src="/js/script.js"></script>
    <script type="text/javascript">
      //<![CDATA[
      var lazyadsense2 = false;
      window.addEventListener(
        "scroll",
        function () {
          if (
            (document.documentElement.scrollTop != 0 &&
              lazyadsense2 === false) ||
            (document.body.scrollTop != 0 && lazyadsense2 === false)
          ) {
            (function () {
              var ad = document.createElement("script");
              ad.setAttribute("data-ad-client", "ca-pub-7879769699553347");
              ad.async = true;
              ad.src =
                "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js";
              var sc = document.getElementsByTagName("script")[0];
              sc.parentNode.insertBefore(ad, sc);
            })();
            lazyadsense2 = true;
          }
        },
        true
      );
      //]]>
    </script>

    <!-- <script
      type="text/javascript"
      src="https://platform-api.sharethis.com/js/sharethis.js#property=6474ea4458d85b001927bc7b&product=sop"
      async="async"
    ></script>  <script defer src="https://i.emote.com/js/emote.js"></script> -->
  </body>
</html>
