{{ define "main"}}

<!--! Our post section -->


<section class="post-page-hero">
  <div class="container single-page-container">
       <h2>Contact Us &#9742;</h2>
      <h3>Say something!</h3> </div>
</section>

  <section class="content-section">
    <div class="container single-page-container">
    <br><br>
        <p>
          Feel free to get in touch with us on any stuff that might look
          abstractive to you, cheers. We're waiting to hear from you.
        </p>
<br><br>

      <!-- ! Form for Get quote -->
      <div class="my-form">
        <form
          action="https://formsubmit.co/10ae5eac92717d7297345978e4e3230b"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            type="email"
            name="email"
            placeholder="Your email"
            required
          />
          <textarea
            name="message"
            cols="20"
            rows="10"
            placeholder="Tell us something."
          ></textarea>

          <input
            type="hidden"
            name="_next"
            value="https://talaunch.netlify.com/thank-you.html"
          />
          <button class="btn" type="submit">Send</button>
        </form>
      </div>
    </div>
  </section>
{{ end }}

