{{define "main"}}
<div class="container single-page-container">
  <span class="post-date">{{ .Params.postdate }}</span>
  <h1>{{.Params.title}}</h1>
  <div class="post-metadata">
    <p class="author">By {{ .Params.author}}</p>
    <p class="dot">&#8226;</p>
    <p class="weight">{{ .Params.weight }}</p>
    <p class="dot">&#8226;</p>
    <p class="post-category">
      <a class="on-what-topic" href="{{.Params.categorylink}}"
        >{{if isset .Params "categorylabel" }}{{ .Params.categorylabel
        }}{{end}}</a
      >
    </p>
    <p class="dot">&#8226;</p>
    <p class="read-time">
      Read Time &#128352; - {{ $readingTime := .ReadingTime }} {{ print
      $readingTime "mins" | safeHTML }}
    </p>
  </div>

  <div class="bar-style"></div>
<details>
  <summary>Table Of Contents</summary>
  {{ .Page.TableOfContents }}
</details>


   {{.Content}}

  <div class="readmore-recommend">
   
    <h2>More For You</h2>


    <!-- {{ $relatednew:= (.Site.RegularPages.Related .) | shuffle | first 5 }}  -->
    {{ $related:= (.Site.Pages.Related .) | shuffle | first 5 }} 
    {{ range $related }}
    <ul class="ul-in-post">
      <li>
        <a class="links-to-others" href="{{.RelPermalink}}">{{.Title}}</a>
      </li>
    </ul>
    {{end}}
  </div>
  
</div>
{{end}}
