<div class="carousel-container">
  <h2>Snippet of the Day</h2>
  <div class="snippet-carousel">
    <div class="snippet-box snippet-box-active">
      <img
        class="img-in-recent-post"
        src="/images/120ohmsadd.jpg"
        alt=""
        srcset=""
      />
    </div>
    <div class="snippet-box">
      <img
        class="img-in-recent-post"
        src="/images/3rinp.jpg"
        alt=""
        srcset=""
      />
    </div>
    <div class="snippet-box">
      <img
        class="img-in-recent-post"
        src="/images/120ohmsadd.jpg"
        alt=""
        srcset=""
      />
    </div>
  </div>
</div>
